<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <link href="{% static 'info/css/styles_inicio.css' %}" rel="stylesheet">
</head>
<style>
 body{
   background-image: url("{% static 'info/fondo_.jpg' %}");
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: black;
 }
</style>

<body>
<div id="main2">
  <div id="title" align="center">El Abismo</font></div>
    <div id="main">
      <table>
        <tr>
          <td>
            {% for item in act %}
            <font id='title3' color='white' style="font-family: 'Hind', sans-serif;sans-serif; font-size: 15px;">{{ item.fecha }}: {{ item.actualizacion }}</font></br></br>
            {% endfor %}
          </td>
        </tr>
      </table>
  </div>
  {% if not indicador %}
    <div id="forms">
      <div align="center">
          <form method="post">
              {% load static %}
              {% load widget_tweaks %}
              {% csrf_token %}
              <font color='white' style="font-family: 'Hind', sans-serif; font-size: 15px;">Quieres recibir una copia gratuita por correo en el
              momento de publicación? </br>
              Nombre: {{ form.nombre | add_class:"correo2"}}
              Apellido: {{ form.apellido | add_class:"correo2"}}
              Correo: {{ form.correo | add_class:"correo"}}
            </font>
            <input type="submit" value="Enviar"/>
          </form>
          <a href='{% url "about" %}'><font color='white' style="font-family: 'Hind', sans-serif; font-size: 15px;">Saber más</font></a>
      </div>
    </div>
  {% else %}
    <div id="forms_succes">
      <div align="center">
        </br>
        <font color="white">Recibiras un correo cuando el libro sea publicado!</font>
      </div>
    </div>
  {% endif %}
  </div>
</div>
</body>

</html>
