<!DOCTYPE html>
<html>
<head>
</head>

<body style="background-color:white; padding-top:200px;">
  <div align='center'>
    {% if form.errors %}
    <p><font color="red">Usuario y contraseña incorrecta</font></p>
    {% endif %}
    <table style="background-color:rgba(0, 0, 0, 0.5);"><tr><td align="center">

  {% if next %}
      {% if user.is_authenticated %}
      <p align='center'><font color="red">No te has logeado correctamente</font></p>
      {% else %}
      <p align='center'><font color="white">Logeate</font></p>
      {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table align='center'>
  <tr>
      <td><font color="white">{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</font></td>
  </tr>
  <tr>
      <td><font color="white">{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</font></td>
  </tr>
  </table>

  <input type="submit" value="login" align='center'/>
  <input type="hidden" name="next" value="{{ next }}" />
  </form>
</tr></td></table>
</div>
</body>
</html>
